.user-details-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.user-details-container h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.user-details-container p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}
