<div class="about-container">
  <h2>Acerca de la Aplicación</h2>
  <p>Bienvenido a la sección de Acerca de nuestra aplicación de Publicaciones. Aquí encontrarás información sobre la aplicación y su propósito.</p>
  <p>La aplicación de Publicaciones es una plataforma en línea donde los usuarios pueden crear, compartir y comentar publicaciones sobre diversos temas. Fue diseñada con el objetivo de fomentar la interacción y el intercambio de ideas entre los usuarios.</p>
  <p>Nuestro equipo de desarrollo se esfuerza por brindar una experiencia de usuario excepcional al garantizar un diseño intuitivo, una navegación fácil y funciones ricas. Esperamos que disfrutes utilizando nuestra aplicación y te sientas inspirado para compartir tus pensamientos y perspectivas con la comunidad.</p>
</div>
