ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.user-button {
  background-color: #337ab7;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.user-button:hover {
  background-color: #23527c;
}
