<div class="mensaje-bienvenida">
  <h2>¡Bienvenido a la aplicación de Publicaciones!</h2>
  <p>Explora nuestras increíbles características:</p>
  <ul>
    <li>Crea y administra publicaciones</li>
    <li>Visualiza y comenta en las publicaciones</li>
    <li>Administra perfiles de usuarios</li>
  </ul>
</div>

<div class="instrucciones">
  <h3>¿Cómo empezar?</h3>
  <ol>
    <li>Regístrate o inicia sesión para acceder a todas las funciones de la aplicación.</li>
    <li>Explora la lista de publicaciones para ver los últimos contenidos.</li>
    <li>Crea tu propia publicación y comparte tus ideas con la comunidad.</li>
    <li>Interactúa con otras publicaciones dejando comentarios y reacciones.</li>
    <li>Administra tu perfil de usuario y personaliza tus preferencias.</li>
  </ol>
</div>
